body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #03437b, #010a71);
  margin: 0;
  padding: 0;
  color: #000000;
}

h1 {
  color: white;
  text-align: center;
  margin: 20px 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* CARD PADRÃO */
.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* FORMULÁRIO */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.form button {
  grid-column: span 2;
}

input, select, button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background: #0b0263;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #0b0263;
}

/* LISTA DE GASTOS */
#lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid #0b0263;
}

/* DASHBOARD */
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.dashboard .card {
  text-align: center;
}

.total {
  font-size: 24px;
  font-weight: bold;
  color: #0b0263;
}
